<div class="row">
  <div class="col-md-5">
    <div class="card" style="width: 18rem;">
      <%= image_tag @question.author_avatar, class: 'card-img-top' %>
      <div class="card-body">
        <p class="card-text">
          <%=  @question.author_name %> asked on <%= @question.created_at.strftime("%B %d, %Y") %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <p class="lead"><%= @question.text %></p>
    <%= link_to 'Back', questions_path %>
  </div>
</div>

<% @question.answers.each do |answer| %>
  <%= render partial: 'answer', locals: {answer: answer} %>
<% end %>

